* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  background-color: #09b838;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
}

#cabecalho h1 {
  color: rgb(253, 251, 251);
  font-size: 30px;
  margin-top: 8px;
}

#minha_foto {
  width: 220px;
  border-radius: 50%;
  margin: 60px 0 0 10px;
}

#licoes_aprendidas {
  display: inline-block;
  margin: 15px 0 0 50px;
  font-size: 20px;
}

#licoes_aprendidas p {
  margin-bottom: 5px;
}

#licoes_a_aprender {
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
  font-size: 20px;
}

#licoes_a_aprender p {
  margin-bottom: 5px;
}

#rodape {
  background-color: #09b838;
  height: 40px;
  width: 100%;
  text-align: center;
}

#rodape p {
  color: rgb(253, 251, 251);
  font-size: 20px;
  padding: 5px 0;
  line-height: 30px;
}

.lado-esquerdo {
  display: inline-block;
  margin: 10px 0 25px 20px;
  width: 500px;
}

.lado-direito {
  display: inline-block;
  margin: 10px 0 0 20px;
  width: 500px;
}